@import url("./reset.css"); /*css-de fayllari import edir*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700;900&display=swap');;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "roboto";
}


a {
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center; /*obyektleri eyni xetde duzur*/
    padding: 30px;
}

.container {
    margin: 0 112.5px;
}

.nav-links {
    display: flex;
}
 

.nav-links a {
    margin-right: 10px;
    color: #000;
}

.fa-bars {
    display: none;
}


@media(max-width: 900px) {
    .nav-links {
        display: none;
    }

    .fa-bars {
        display: flex;
    }
}


@media(max-width: 610px) {
    .header {
        padding: 30px;
    }
}

.overlay {
    position: fixed;
    background-color: rgba(0, 0, 0, .7);
    width: 100%;
    height: 100vh;
    opacity: 0;
    overflow-x: hidden; /*saga ve sola surushmenin qarshisini alir*/
}

.nav-links-overlay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.fa-xmark, .nav-links-overlay a {
    color: #aaa;
    font-size: 34px;
    margin-bottom: 20px;
}

.fa-xmark {
    position: absolute;
    top: 4%;
    right: 6%;
    cursor: pointer;
}

.fa-xmark:hover {
    transition: .9s ease;
    transform: rotate(360deg);
}

.fa-xmark:hover, .nav-links-overlay a:hover {
    color: #fff;
    transition: 1.5s ease;
}